<div class="row">
    <div class="col-xs-12">&nbsp;</div>
</div>
<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills float-right">
                
                <li class="nav-item">
                        <a routerLink="/home" routerLinkActive="active" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                <li *ngIf="composerEvents.length >0" class="nav-item">
                        <button (click)="onShowHyperledgerEvents()" class="btn btn-info">{{composerEvents.length}}</button>
                    </li>
            </ul>
        </nav>
        <h3 class="text-muted">Medical records</h3>
    </div>
    <hr/>


    <router-outlet></router-outlet>

    <div class="modal fade" id="showComposerEventsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Hyperledger Evets</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <div *ngFor="let item of composerEvents">
                        <h5>{{item.timestamp}}</h5>
                        <b>Updated object:</b>{{item.healthSheet}}
                        <hr/>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>