<div class="card">
    <div class="card-header">
        {{title}}
    </div>
    <div class="card-block">
        <ul>
            <li *ngFor="let item of listItems">
                <span *ngIf="item.isNew" class="badge badge-primary">new</span>
                <span *ngIf="item.isDeleted" class="badge badge-danger">delete</span>
                {{item.item}}
                <span *ngIf="isEdit"><button class="btn btn-link btn-xs" (click)="onRemoveClicked(item.item)">X</button></span>
            </li>
        </ul>
        <div *ngIf="isEdit">
            <div class="row">
                <div class="col-md-12">
                        <hr/>
                        <div class="input-group">
                            <input name="txtNewItem"  [(ngModel)]="newItem" type="text" class="form-control" placeholder="">
                            <span class="input-group-btn">
                                <button class="btn btn-secondary" type="button" (click)="onAddClicked()">Add</button>
                            </span>
                        </div>
                </div>
            </div>
            
        </div>
    </div>
</div>